---
import { getImage } from 'astro:assets'

import type { Project } from '~/content'

import ProjectCardInternal, { type ProjectImage } from './ProjectCardInternal'

interface Props {
  project: Project
  flipped: boolean
  heading: number
}

const { project, flipped, heading } = Astro.props
const isDeprecated = project.tags.includes('deprecated')

const image = await getImage({ src: project.image, layout: 'constrained' }).then(
  r =>
    ({
      src: r.src,
      alt: project.name,
      width: project.image.width,
      height: project.image.height,
      srcSet: r.srcSet.attribute,
      sizes: r.attributes.sizes,
      loading: 'lazy',
      decoding: 'async',
      fetchPriority: 'auto',
    }) satisfies ProjectImage,
)
---

<li
  id={project.id}
  class:list={[
    'shadow-indigo-925/10 grid w-full max-w-5xl items-center rounded-3xl shadow-lg lg:grid-cols-8 lg:grid-rows-1 lg:shadow-none dark:shadow-indigo-100/10',
    isDeprecated && 'opacity-50',
  ]}
>
  <ProjectCardInternal client:visible {project} {flipped} {heading} {image} />
</li>
