---
import Link from '~/components/common/Link'
import { routes } from '~/consts/routes'
import { getPosts, getSkills, getTags } from '~/content'
import Listing from '~/layouts/Listing.astro'

const listClass = 'list-disc pl-8'

const postList = await getPosts()
const tagList = await getTags()
const skillList = Object.values(await getSkills())

const { about, projects, blog, tags, skills } = routes
---

<Listing name="Sitemap" description="List of all pages in the Tomasz Chojnacki's website.">
  <div class="flex flex-col items-center text-left">
    <ul class={listClass}>
      <li><Link href={about.href}>{about.label}</Link></li>
      <li><Link href={projects.href}>{projects.label}</Link></li>
      <li>
        <Link href={blog.href}>{blog.label}</Link>
        <ul class={listClass}>
          {
            postList.map(p => (
              <li>
                <Link href={`/blog/${p.id}`}>"{p.data.title}"</Link>
              </li>
            ))
          }
        </ul>
      </li>
      <li>
        <Link href={tags.href}>{tags.label}</Link><ul class={listClass}>
          {
            tagList.map(t => (
              <li>
                <Link href={`/tags/${t}`}>#{t}</Link>
              </li>
            ))
          }
        </ul>
      </li>
      <li>
        <Link href={skills.href}>{skills.label}</Link><ul class={listClass}>
          {
            skillList.map(s => (
              <li>
                <Link href={`/skills/${s.id}`}>{s.name}</Link>
              </li>
            ))
          }
        </ul>
      </li>
    </ul>
    <hr class="my-8 w-1/2 border-t border-t-neutral-900 dark:border-t-neutral-100" />
    <ul class={listClass}>
      <li><Link href="/rss.xml">/rss.xml</Link></li>
      <li><Link href="/sitemap-index.xml">/sitemap-index.xml</Link></li>
      <li><Link href="/robots.txt">/robots.txt</Link></li>
    </ul>
  </div>
</Listing>
