---
import { IconArrowRight } from "@tabler/icons-react"
import { render } from "astro:content"

import type { Post } from "~/content"

interface Props {
  heading: number
  post: Post
}

const { heading, post } = Astro.props
const {
  remarkPluginFrontmatter: { readingTime },
} = await render(post)

const H = `h${heading}` as "h1" | "h2" | "h3" | "h4" | "h5" | "h6"
---

<article>
  <a class="group block max-w-xl p-4" href={`/blog/${post.id}`}>
    <H
      class="group-hover:text-neutral-1000 dark:group-hover:text-neutral-0 text-xl font-bold text-purple-700 duration-200 group-hover:underline dark:text-purple-300"
    >
      {post.data.title}
    </H>
    <span class="text-sm"
      ><time datetime={post.data.date.toISOString().split("T")[0]}
        >{
          post.data.date.toLocaleDateString("en-US", {
            weekday: undefined,
            day: "numeric",
            month: "short",
            year: "numeric",
          })
        }</time
      > &bull; {readingTime} min read</span
    >
    <p
      class="my-2 text-justify text-sm text-neutral-700 duration-200 group-hover:text-neutral-900 dark:text-neutral-300 dark:group-hover:text-neutral-100"
    >
      {post.data.abstract}
    </p>
    <div
      class="text-neutral-1000 dark:text-neutral-0 flex items-center gap-1 text-sm leading-none font-bold"
    >
      Read more <IconArrowRight
        role="presentation"
        className="stroke-neutral-1000 dark:stroke-neutral-0 inline-block opacity-0 duration-200 group-hover:opacity-100"
        size="16"
      />
    </div>
  </a>
</article>
