---
import {
  IconBrandGithub,
  IconBrandLinkedin,
  IconBrandReddit,
  IconBrandTwitter,
  IconBrandYcombinator,
  IconLetterL,
  IconRss,
} from '@tabler/icons-react'
import Link from '~/components/common/Link'

interface Props {
  id: string
}

const { id } = Astro.props

const url = new URL(`/blog/${id}`, Astro.site).toString()

const socials = [
  {
    Icon: IconBrandTwitter,
    name: 'Twitter / X',
    href: `https://x.com/intent/tweet?url=${url}`,
  },
  {
    Icon: IconBrandLinkedin,
    name: 'LinkedIn',
    href: `https://www.linkedin.com/sharing/share-offsite?url=${url}`,
  },
  {
    Icon: IconBrandReddit,
    name: 'Reddit',
    href: `https://www.reddit.com/submit?url=${url}`,
  },
  {
    Icon: IconBrandYcombinator,
    name: 'Hacker News',
    href: `https://news.ycombinator.com/submitlink?u=${url}`,
  },
  {
    Icon: IconLetterL,
    name: 'Lobsters',
    href: 'https://lobste.rs',
  },
]
---

<footer class="mt-16 flex flex-col gap-6 p-4 text-center text-sm">
  <ul class="flex justify-center gap-2">
    {
      socials.map(({ Icon, name, href }) => {
        const title = `Share on ${name}...`
        return (
          <li>
            <Link {href} {title}>
              <Icon size={24} aria-label={title} />
            </Link>
          </li>
        )
      })
    }
  </ul>
  <p>
    <Link
      href={`https://github.com/tchojnacki/tchojnacki-dev/tree/main/src/content/posts/${id}.mdx`}
    >
      Fix a typo on <IconBrandGithub size={16} className="inline-block" /> GitHub.
    </Link>
  </p>
  <p>
    <Link href="/rss.xml">Subscribe to <IconRss size={16} className="inline-block" /> RSS.</Link>
  </p>
</footer>
