---
import { routes } from '~/consts/routes'
import { github, linkedin, resume } from '~/consts/socials'
import Wave from './Wave.astro'

const linkClass = 'duration-200 hover:text-neutral-1000 hover:underline hover:dark:text-neutral-0'

const entries = [routes.about, routes.projects, routes.blog]
const socials = [github, linkedin, resume]
---

<Wave className="max-h-32!" />
<footer
  class="dark:bg-indigo-925 bg-indigo-100 px-8 text-sm text-neutral-600 dark:text-neutral-400"
>
  <section class="flex flex-col justify-center text-center sm:flex-row sm:gap-32 sm:text-left">
    <ul>
      {
        entries.map(({ href, label }) => (
          <li>
            <a {href} class={linkClass}>
              {label}
            </a>
          </li>
        ))
      }
    </ul>
    <ul>
      {
        socials.map(({ href, label }) => (
          <li>
            <a {href} target="_blank" rel="noreferrer" class={linkClass}>
              {label}
            </a>
          </li>
        ))
      }
    </ul>
    <ul>
      <li>
        <a href="/sitemap" class={linkClass}>Sitemap</a>
      </li>
      <li>
        <a href="/rss.xml" class={linkClass}>RSS Feed</a>
      </li>
      <li>
        <a
          href="https://github.com/tchojnacki/tchojnacki-dev"
          target="_blank"
          rel="noreferrer"
          class={linkClass}>Source & Issues</a
        >
      </li>
    </ul>
  </section>
  <section>
    <p class="py-8 text-center">
      Designed and developed by <strong>Tomasz&nbsp;Chojnacki</strong>
    </p>
  </section>
</footer>
